* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body {
  background: linear-gradient(
      to right bottom,
      rgba(13, 4, 49, 0.752),
      rgba(38, 7, 49, 0.781)
    ),
    url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
  background-size: cover;
  height: 100vh;
  color: #f4be2c;
}

.container {
  padding: 2% 6% 0 6%;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-item {
  list-style-type: none;
  font-size: 16px;
  padding: 0 30px;
  font-weight: 500;
}

.button-small {
  background-color: #ef5354;
  border: none;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 500;
}
/* ------------------------------ */

/* ------------------------------ */
/* ---------- HERO ------------ */
.hero {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 80px;
  text-align: center;
  padding: 0 12%;
  line-height: 90px;
}

.button-large {
  margin-top: 40px;
  background-color: #ef5354;
  width: 20%;
  border: none;
  color: #ffffff;
  padding: 20px 30px;
  font-size: 24px;
  font-weight: 500;
}

.bottom img {
  position: fixed;
  right: 5%;
  bottom: 5%;
  height: 9rem;
}
/* ------------------------------ */ ;
